body {
    font-family: 'Alef', sans-serif;
    color: #141414;
    margin: 0;
    line-height: 1.5;
}

h1,
h2,
h3,
h4, {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    color: #141414;
}

h1{
    line-height: 1.1;
}

.about {
    background-color: #f1d742;
}

.container {
    max-width: 1024px;
    margin: auto;
    text-align: right;
    padding-top: 20px;

}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 350px;
}

.about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
}

.about h1{
    text-align: center;
}

.button {
    background-color: #141414;
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
    margin-top: 10px;
    display: inline-block;
}


.about .button:hover {
    background-color: #0f4395;
}

.about img{
    display: block;
}