body {
    font-family: 'Alef', sans-serif;
    color: #141414;
    margin: 0;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
    {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    color: #e0e0e0;
}

h1 {
    line-height: 1.1;
}

.about {
    background-color: #171717;
    color: #e0e0e0;
}

.container {
    max-width: 1024px;
    margin: auto;
    padding-top: 20px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 350px;
}

.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    text-align: right;
    align-items: center;
}

.about h1 {
    text-align: center;
    font-size: 40px;
}

.about h2{
    text-align: right;
    font-size: 30px;
}

.button {
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #b92900;
    transition: 0.5s;
    margin-top: 10px;
    display: inline-block;
}


.about .button:hover {
    background-color: #e0e0e0;
    color: #171717;
}

.about img {
    display: block;
    max-width: 100%;
}

.logo {
  max-width: 50px;
  display: block;
  margin: 5px auto;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery img {
    display: block;
}

h2 {
    text-align: center;
}

li {
    text-align: center;
    font-weight: 700;
}

.cta {
    background-color: #171717;
    color: #e0e0e0;
    height: 100px;
    margin-top: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icons{
    display:inline-block;
    max-width: 70px;
}
