body{
         margin: 0;
  font-family: heebo, sans-serif;
  line-height: 1.5;
    color: black;
    

}
h1{
    color: midnightblue
}
h2{color: darkcyan}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}