body {
    margin: 0;
    font-family: heebo, sans-serif;
    line-height: 1.5;
    color: darkslategrey;
    font-weight: 400;
    font-size: 16px;
    background: url(img/bgp.png);
}

h1 {
    color: darkslategray;
    font-weight: 700;
    font-family: heebo;
    text-align: center;
    background-color: lightblue;
    padding: 20px;
}

h2 {
    color: #4b8709;
    font-weight: 700;
}

h3 {
    color: #bd2d27;
    font-weight: 500
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
    max-width: 800px;
    margin: auto;
}

.cta {
    background-color: lightblue;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;
    overflow: hidden;
}

.cta h3 {
    color: black;
}

.cta p {
    color: black;
}

.bottom {
    color: white;
    text-decoration: none;
    background-color: #bd2d27;
    padding: 10px;
    margin-top: 15px;
    display: inline-block;
}

.alignleft {
    float: left;
    margin-top: 20px;
    margin-right: 14px;
    margin-left: 14px;
    max-width: 40%;
}

.cta .alignleft {
    max-width: 200px;
}

.news {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/bgn.jpg);
    padding: 80px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-size: 18px;

}

.news h2 {
    color: darkseagreen;
}

input {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    border-bottom: 2px solid;
    border-bottom-color:darkseagreen;
    padding: 5px;
}

input:focus {
    outline: 0;
    border-bottom-color: #ffbc8f;
}

.news .bottom {
    background-color: rgba(255, 188, 143, 0.45);
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    transition: .6s;
}

.news .bottom:hover {
    background-color: darkseagreen;
}

label span {
    display: inline-block;
    width: 100px;
}

label {
    margin-bottom: 20px;
    display: block;
}