@font-face {
    font-family: 'atlas';
    src: url('fonts/atlas-pro/700/atlas-pro-aaa-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'atlas';
    src: url('fonts/atlas-pro/400/atlas-pro-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'atlas';
    src: url('fonts/atlas-pro/300/atlas-pro-aaa-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'almoni';
    src: url('fonts/almoni-dl/400/almoni-dl-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'atlas', arial, sans-serif;
    line-height: 1.5;
    color: #1e1e1e;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

h1 {
    font-family: 'atlas';
}

h2,
h3 {
    font-family: 'atlas';
    color: #004a19;
}

p {
    font-family: 'almoni';
    font-size: 18px;
}

a {
    color: #fff;
}

.container {
    max-width: 980px;
    margin: auto;
}

.banner {
    background-image: linear-gradient(rgba(0, 74, 25, 0.3), rgba(186, 74, 25, 0.3)), url(img/hikingbanner.jpg);
    margin: auto;
    text-align: center;
    display: block;
    padding-bottom: 100px;
    background-position: center;
    background-size: cover;
    position: relative;
}


.banner h1 {
    font-size: 48px;
    color: #fff;
}

.header {
    text-align: center;
}
nav{
    background: rgba(30, 30, 30, 0.7)
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 30px;
    margin-top: 0;
}

nav a {
    text-decoration: none;
    padding: 16px;
    display: block;
    flex: 1;
    color: #fff;
    transition: .3s;
    background-size: 150%;
}

nav a:hover {
    background-image: linear-gradient(to left, rgba(0, 74, 25, 0.5), rgba(186, 74, 25, 0.5));
}

nav img {
    max-width: 56px;
}

.button {
    text-decoration: none;
    color: #1e1e1e;
    background-color: #fff;
    padding: 13px;
    transition: .3s;
    background-size: 120%;
    font-family: 'atlas';
}

.button:hover {
    color: #1e1e1e;
    background-image: linear-gradient(to left, rgba(0, 74, 25, 0.8), rgba(186, 74, 25, 0.8));
}

.button:after {
    content: ">";
    padding-right: 5px;
}

.about h2:after{
    content: ">";
    margin-right: 10px;
}

.features {
    background-color: #1e1e1e;
    text-align: center;
    padding-bottom: 56px;
    margin-bottom: 56px;
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 56px;
}

.features img {
    max-width: 80px;
}

.features h1,
h3 {
    color: #fff;
    margin: 5px;
}

.features h1 {
    font-size: 28px;
    padding-bottom: 48px;
    padding-top: 48px;
    margin: 0;
}

.features p {
    color: #fff;
    margin: 0;
    margin-bottom: 48px;
}

.about {
    padding-bottom: 48px;
}

.about ul{
     list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 56px;
}

.about h3{
    color:  #1e1e1e;
    text-align: center;
}

footer {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 14px;
    margin: auto;
    font-size: 13px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer img {
    max-width: 30px;
    margin: 0;
    padding: 2px;
}

footer p {
    margin-bottom: 5px;
}

.opening h2 {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin: 16px 0 5px;
}

.opening h2:before {
    border-right: 2px solid;
}

.opening p {
    margin: 0;
}

.logo img {
    max-width: 100px;
    margin-top: 16px;
}

.logo p {
    margin: 0;
}

.current a{
    font-weight: 700;
    color: rgba(186, 74, 25, 0.8);
}

form{
    color: #fff;
}

label span {
    display: inline-block;
    width: 100px;
}

label {
    margin-bottom: 20px;
    display: block;
}

.custom-shape-divider-bottom-1616054608 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1616054608 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1616054608 .shape-fill {
    fill: #1E1E1E;
}

.redback {
    max-width: 180px;
}

.packs {
    max-width: 168px;
}
